body{
    font-family: "Trirong", serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #7fdeee 10%, #015060 50% , #032e46 65%);
    background-size: cover;

}
.navbar {
    font-family: "Trirong", serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #022334;
    padding: 15px;
    color: white;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.image{
    width:250px;
    height: 60px;
}

.Navopt{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
#Acs::before{
    position: absolute;
    right: 120px;
    margin-top:-8px;
    padding: 2px;
}
.search-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    width: 450px;
    border: 1px solid #ccc;
}

#search-bar {
    border: none;
    outline: none;
    padding: 8px;
    width: 100%;
    border-radius: 15px;
    font-size: 16px;
}

#search-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}
#search-btn img{
    width: 20px;
    margin-top:1px;
}
.Navopt:hover{
    color: #7fdeee;
    transition: 0.5s;
}
.Header1{
    font-family: "Trirong", serif;
    display: flex;
    justify-content: center;
    padding: 30px;
    color: white;
    font-weight: bold;
    font-size: 50px;

}
.slider-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-self: center;

}

.slider {
    display: flex;
    gap: 20px;
    overflow: hidden;
    width: 400px;

}


div a{
    text-decoration: none;
}

.nav-btn {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
}

.Books-label {
    margin-top: 5px;
    font-size: 20px;
    color: white;
}
.main{
    display: flex;
    gap: 20px;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
}
#filter{
    padding: 5px;
    background-color: #eeeeee;
    color: black;
    border-radius: 10px;
}
.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
